@media screen and (max-width: 576px) {
  body {
    /* background-color: olive; */
  }
  /* 3. phần navbar */
  .navbar {
    display: block;
  }
  .fullname {
    display: none !important;
  }
  /* 4. phần thông tin cá nhân */
  .persional-info {
    display: block;
  }
  /* 5. Phần Thông tin nghề nghiệp */
  .career-info {
    grid-template-columns: repeat(1, auto);
  }
  /* 6. Phần Chứng chỉ - Giải thưởng */
  .line-separate-horizontal,
  .line-separate-vertical {
    display: none;
  }
  .certification {
    padding-bottom: 0;
  }
  .certification-list-flex-row {
    flex-direction: column;
    margin-bottom: 0;
  }
  .certification-wrap {
    width: 100%;
  }
  .certification-detail {
    /* margin-bottom: 20px;
    border-bottom: 1px solid #d6c08d; */
  }

  .line-separate-horizontal-mobile {
    display: block;
  }
  /* 7. Phần dự án */
  .project-section {
    display: block;
  }
  /* 8. Phần Footer */
  .contact {
    flex-direction: column;
    gap: 30px;
  }
}
